.suggestions {
    display: flex;
    flex-direction: column;
    position: relative;
}

.suggestionsText {
    position: relative;
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: grey;
}

.textAlign {
    margin-left: 18px;
}