.profile {
    border-radius: 50%;
    border: 2px solid tomato;
    padding: 1px;
    width: 56px;
    height: 56px;
    margin: 0 8px;
}

.sm {
        width: 32px;
        height: 32px;
        margin: 0;
}